@font-face {
    font-family: logoFont;
    src: url(../../public/logo-font.ttf);
}
.header {
    height: 5%;
    padding:1%;
    background:#000;
}

.navitem {
    margin: 3rem;
}

.logo {
    font-family: logoFont;
    color: #008f11;
}
