.forms{
    display: flex;
    position:absolute;
    height: 70vh;
    width: 100vw;
    padding: 0.1vw;
    margin: 0.1vw;


}

.results {
    display:absolute;
    padding: 0.1vw;
    overflow-y: scroll;
    width: 20vw;
    margin-right: auto;
    margin-left: 0.5vw;
    display:block;

}

.searchForm {
    border-style: solid ;
    border-color: var(--sky-blue);
    border-radius: 8px;
    padding: 1vh;
    width: 20vw;;
    margin-left: auto;
    margin-right: 0.5vw;
    display:flex;
    justify-content: center;
    align-content: center;

}

.inputs {
    padding: 0.5vw;
    margin: 0.25vw;
    display: block;
}

.submit {
    background-color: var(--sky-blue);
    border: none;
    color: white;
    padding: 0.5vw;
    margin: 0.5vw;
    border-radius: 8px;
    transition-duration: 0.1s;
}

.submit:hover {
    background-color: white;
    color: var(--sky-blue);
    border: 2px dotted var(--sky-blue);
}

.submit > a {
    text-decoration: none;
    color: white;
}

.submit:hover > a {
    color: var(--sky-blue);
}

.error {
    color: red;
}