.forms{
    display: flex;
    position:absolute;
    height: 70vh;
    width: 50vw;
    padding: 0.1vw;
    margin: 0.1vw 25vw;
    justify-content: center;

}

.results {
    display:absolute;
    padding: 0.1vw;
    overflow-y: scroll;
    width: 50%;
    margin-left: 0.5vw;
    display:block;

}

.searchForm {
    padding: 1vh;
    width: 50%;
    margin-right: 0.5vw;
    display:flex;
    justify-content: center;
    align-content: center;

}

.inputs {
    padding: 0.5vw;
    margin: 0.25vw;
    display: block;
}

.submit {
    background-color: var(--sky-blue);
    border: none;
    color: white;
    padding: 0.5vw;
    margin: 0.5vw;
    border-radius: 8px;
    transition-duration: 0.1s;
}

.submit:hover {
    background-color: white;
    color: var(--sky-blue);
    border: 2px dotted var(--sky-blue);
}

.submit > a {
    text-decoration: none;
    color: white;
}

.submit:hover > a {
    color: var(--sky-blue);
}

.error {
    color: red;
}

.loading {
    position: absolute;
    top: 33%;
    bottom: auto;
    left: 33%;
    right: 33%;
    width: 16rem;
    height: 16rem;
    border: 10px solid var(--sky-blue);
    border-top: 20px solid grey;
    border-radius: 100%;
    margin: auto;
    animation: spin 2s infinite linear;
    visibility: hidden;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}